wsdl/common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 rel. 2 (x64) (http://www.altova.com) by Dan Thomas (private) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://openhbx.org/api/terms/1.0" targetNamespace="http://openhbx.org/api/terms/1.0" elementFormDefault="qualified" version="1.0">
	<xs:complexType name="PersonType">
		<xs:annotation>
			<xs:documentation>Name and contact information for an individual</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="HbxIdentifierGroup"/>
			<xs:element name="name" type="NameType"/>
			<xs:element name="job_title" type="xs:string" minOccurs="0"/>
			<xs:element name="department" type="xs:string" minOccurs="0"/>
			<xs:element name="addresses" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="address" type="AddressType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="emails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="email" type="EmailType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="phones" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="phone" type="PhoneType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="active_flag" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Indicator this person is operative on the HBX</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="ResourceTimestampGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameType">
		<xs:annotation>
			<xs:documentation>Base type for components of an individual's name</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name_prefix" type="xs:string" minOccurs="0"/>
			<xs:element name="name_first" type="xs:string"/>
			<xs:element name="name_middle" type="xs:string" minOccurs="0"/>
			<xs:element name="name_last" type="xs:string"/>
			<xs:element name="name_suffix" type="xs:string" minOccurs="0"/>
			<xs:element name="name_full" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddressType">
		<xs:annotation>
			<xs:documentation>Physical street or mailing address</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="address_type">
				<xs:simpleType>
					<xs:restriction base="xs:anyURI">
						<xs:enumeration value="urn:openhbx:terms:v1:address_type#billing"/>
						<xs:enumeration value="urn:openhbx:terms:v1:address_type#home"/>
						<xs:enumeration value="urn:openhbx:terms:v1:address_type#work"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="address_1" type="xs:string"/>
			<xs:element name="address_2" type="xs:string" minOccurs="0"/>
			<xs:element name="city" type="xs:string"/>
			<xs:element name="state" type="xs:string"/>
			<xs:element name="postal_code" type="xs:string"/>
			<xs:element name="country_code" type="xs:string" minOccurs="0"/>
			<xs:element name="coordinates" type="PositionPointType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PhoneType">
		<xs:annotation>
			<xs:documentation>Telephone communication number and kind</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="phone_type">
				<xs:simpleType>
					<xs:restriction base="xs:anyURI">
						<xs:enumeration value="urn:openhbx:terms:v1:phone_type#home"/>
						<xs:enumeration value="urn:openhbx:terms:v1:phone_type#work"/>
						<xs:enumeration value="urn:openhbx:terms:v1:phone_type#mobile"/>
						<xs:enumeration value="urn:openhbx:terms:v1:phone_type#pager"/>
						<xs:enumeration value="urn:openhbx:terms:v1:phone_type#main"/>
						<xs:enumeration value="urn:openhbx:terms:v1:phone_type#extension"/>
						<xs:enumeration value="urn:openhbx:terms:v1:phone_type#other"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="phone_number" type="TelephoneNumberType"/>
			<xs:element name="extension" type="xs:string" minOccurs="0"/>
			<xs:element name="preferred" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Flag indicating preferred contact number</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EmailType">
		<xs:annotation>
			<xs:documentation>Email communication address and kind</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="email_type">
				<xs:simpleType>
					<xs:restriction base="xs:anyURI">
						<xs:enumeration value="urn:openhbx:terms:v1:email_type#home"/>
						<xs:enumeration value="urn:openhbx:terms:v1:email_type#work"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="email_address" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactListType">
		<xs:annotation>
			<xs:documentation>Collection of Persons</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="contact" type="PersonType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PositionPointType">
		<xs:annotation>
			<xs:documentation>Location cooordinate expressed as a GeoJSON Point.  See: http://www.geojson.org/geojson-spec.html#positions</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="x" type="xs:float"/>
			<xs:element name="y" type="xs:float"/>
			<xs:element name="z" type="xs:float" minOccurs="0"/>
			<xs:element name="coordinate_system_reference" type="xs:anyURI" default=" urn:ogc:def:crs:EPSG::4326"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SimpleDateRangeType">
		<xs:annotation>
			<xs:documentation>Time period expressed in SimpleDateType format</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="start" type="SimpleDateType"/>
			<xs:element name="end" type="SimpleDateType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="HbxIdentifierGroup">
		<xs:annotation>
			<xs:documentation>Identifier for an individual Health Benefit Exchange</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="xs:anyURI">
				<xs:annotation>
					<xs:documentation>Dereferenceable ID for this resource</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hbx_id" type="HbxCmsNameType">
				<xs:annotation>
					<xs:documentation>Source Exchange (CMS-assigned ID)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hbx_fein" type="FederalTaxIdType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Exchange's Federal tax ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rating_area" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Adminstrative area for determining individual or family premium amounts</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="ResourceTimestampGroup">
		<xs:sequence>
			<xs:element name="created_at" type="xs:dateTime"/>
			<xs:element name="modified_at" type="xs:dateTime"/>
			<xs:element name="version" type="xs:integer" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="ServiceHeaderType">
		<xs:annotation>
			<xs:documentation>Base type of header component properties for SOA service call or response</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="hbx_id" type="xs:string">
				<xs:annotation>
					<xs:documentation>CMS-assigned Health Benefit Exchange identifier, e.g. DC0</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="submitted_timestamp" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>UTC date and time when event occured</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="authorization" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Authentication/authorization credentials</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="status" type="ServiceStatusType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicate success or failure of a request to a service</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="message_id" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Value that uniqely identifies message</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="originating_service" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The urn of the requesting service</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="reply_to" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Designates the consumer service urn endpoint where to transmit response</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="correlation_id" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Attribute to associate the current message with previous message ID or application-specifc ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="application_header_properties" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Application-specific header key/value pairs</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:any namespace="##any" processContents="lax" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceStatusType">
		<xs:annotation>
			<xs:documentation>Base type of status result properties for SOA service call </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="return_status">
				<xs:annotation>
					<xs:documentation>HTTP status code</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="200">
							<xs:annotation>
								<xs:documentation>OK</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="201">
							<xs:annotation>
								<xs:documentation>Created</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="304">
							<xs:annotation>
								<xs:documentation>Not modified</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="400">
							<xs:annotation>
								<xs:documentation>Bad request</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="401">
							<xs:annotation>
								<xs:documentation>Unauthorized due to authentication error</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="403">
							<xs:annotation>
								<xs:documentation>Unauthorized</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="404">
							<xs:annotation>
								<xs:documentation>Not found</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="500">
							<xs:annotation>
								<xs:documentation>Internal server error</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="error_code" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Error code relevant to local service</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="developer_message" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Plain text description for app developer with hits about how to fix</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="user_message" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Message passed to the application. if needed</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="more_information" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Link with additional information about this error </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceMetadataType">
		<xs:annotation>
			<xs:documentation>Base type of descriptive data about the data returned in a service</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="result_set" type="ServiceResultSetType"/>
			<xs:any namespace="##any" processContents="lax" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Wildcard to support schema extension</xs:documentation>
				</xs:annotation>
			</xs:any>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceResultSetType">
		<xs:annotation>
			<xs:documentation>Base type of service result propoerties for SOA service call</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="count" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Total number of items in the result set</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="limit" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Number of items returned in this payload</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="offset" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Position in the result set of the first record in this payload</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceBodyType">
		<xs:annotation>
			<xs:documentation>Base type of body component properties for a SOA service call or response</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any namespace="##any" processContents="lax" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceEventType" abstract="true">
		<xs:annotation>
			<xs:documentation>Base type to publish resource events to message systems</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="event_name" type="xs:anyURI">
				<xs:annotation>
					<xs:documentation>Uniform Resource Name (URN) for this event, e.g.; urn:openhbx:events:v1:individual#added</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qualifying_reason" minOccurs="0">
				<xs:annotation>
					<xs:documentation>URN for the regulatory or policy basis enabling this change </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="resource_instance_uri" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>URN(s) for the resource instance that is subject of this event</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="extended_resource_instance_uri" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>URN(s) for other resource instances assocated with this event</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="body" type="ServiceBodyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceRequestType" abstract="true">
		<xs:annotation>
			<xs:documentation>Base type to call a SOA service</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="request_name" type="xs:anyURI">
				<xs:annotation>
					<xs:documentation>Uniform Resource Name (URN) for this request e.g.; urn:openhbx:requests:v1:individual</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="parameters" type="xs:anyType" minOccurs="0"/>
			<xs:element name="metadata" type="ServiceMetadataType" minOccurs="0"/>
			<xs:element name="body" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceResponseType" abstract="true">
		<xs:annotation>
			<xs:documentation>Base type for response body.  If results might return more than one record (i.e. it's a set response type), you MUST provide metadata.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="header" type="ServiceHeaderType"/>
			<xs:element name="metadata" type="ServiceMetadataType"/>
			<xs:element name="body" type="xs:anyType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatePeriodType">
		<xs:sequence>
			<xs:element name="begin_date" type="SimpleDateType"/>
			<xs:element name="end_date" type="SimpleDateType" minOccurs="0"/>
			<xs:element name="number_of_days" type="xs:integer" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceEndPointType">
		<xs:annotation>
			<xs:documentation>Attributes for registering and publishing a service on the system</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Name for this service in free form text</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="version" type="xs:string">
				<xs:annotation>
					<xs:documentation>Release number associated with this service instance</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:group ref="ServiceEndpointGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="ServiceEndpointGroup">
		<xs:annotation>
			<xs:documentation>Identifier pair for a single Exchange resource in both enterprise URI and local service form</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="urn" type="xs:anyURI">
				<xs:annotation>
					<xs:documentation>Unique reference for this service</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="uri" type="xs:anyURI">
				<xs:annotation>
					<xs:documentation>Derefernceable URI for this service</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:simpleType name="IdentifierType">
		<xs:annotation>
			<xs:documentation>Base type for unique, dereferenceable instance identifiers </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:anyURI"/>
	</xs:simpleType>
	<xs:simpleType name="CalendarYearType">
		<xs:annotation>
			<xs:documentation>Year represented in four-digit format: CCYY.  For example: 2015</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="2013"/>
			<xs:maxInclusive value="2020"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HbxCmsNameType">
		<xs:annotation>
			<xs:documentation>CMS-assigned Health Benefit Exchange identifier in URN form</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:anyURI">
			<xs:enumeration value="urn:openhbx:terms:v1:hbx_cms_name#dc0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TelephoneNumberType">
		<xs:annotation>
			<xs:documentation>US Telephone number format. Matches: (999)999-9999, 9999999999, 999-999-9999</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{7,11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SimpleDateType">
		<xs:annotation>
			<xs:documentation>A simple date format: CCYYMMDD, e.g. 20140601</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="([1-9][0-9]{3})(0[1-9]|1[0-2])(0[1-9]|[12][0-9]|3[01])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FederalTaxIdType">
		<xs:annotation>
			<xs:documentation>IRS-assigned Identifier for an individual or organization. Matches: 01-1234567, 011234567, 123-45-6789</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]{3}-[0-9]{2}-[0-9]{4})|([0-9]{9})|([0-9]{2}-[0-9]{7})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UsStateNameType">
		<xs:annotation>
			<xs:documentation>US state names</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:anyURI">
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#Alabama"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#Alaska"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#Arizona"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#Arkansas"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#California"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#Colorado"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#Connecticut"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#Delaware"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#District Of Columbia"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#Florida"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#Georgia"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#Hawaii"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#Idaho"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#Illinois"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#Indiana"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#Iowa"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#Kansas"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#Kentucky"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#Louisiana"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#Maine"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#Maryland"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#Massachusetts"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#Michigan"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#Minnesota"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#Mississippi"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#Missouri"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#Montana"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#Nebraska"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#Nevada"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#New Hampshire"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#New Jersey"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#New Mexico"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#New York"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#North Carolina"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#North Dakota"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#Ohio"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#Oklahoma"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#Oregon"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#Pennsylvania"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#Rhode Island"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#South Carolina"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#South Dakota"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#Tennessee"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#Texas"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#Utah"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#Vermont"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#Virginia"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#Washington"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#West Virginia"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#Wisconsin"/>
			<xs:enumeration value="urn:openhbx:terms:v1:us_state#Wyoming"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurrencyType">
		<xs:annotation>
			<xs:documentation>Monetary value. Positive and negative values are valid</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LanguageType">
		<xs:annotation>
			<xs:documentation>Language expressed in ISO 639-1 standard, e.g. en = English, es = Spanish</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="GenderNameType">
		<xs:annotation>
			<xs:documentation>Identification of an individual as masculine or feminine</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:anyURI">
			<xs:enumeration value="urn:dc0:terms:gender#male"/>
			<xs:enumeration value="urn:dc0:terms:gender#female"/>
			<xs:enumeration value="urn:dc0:terms:gender#unknown"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HbxMarketNameType">
		<xs:annotation>
			<xs:documentation>URIs for Individual and SHOP markets</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:anyURI">
			<xs:enumeration value="urn:openhbx:terms:v1:hbx_market#individual"/>
			<xs:enumeration value="urn:openhbx:terms:v1:hbx_market#shop"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HbxResourceNameType">
		<xs:annotation>
			<xs:documentation>Resources in OpenHBX services model</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:anyURI">
			<xs:enumeration value="urn:openhbx:terms:v1:resource#application_groups"/>
			<xs:enumeration value="urn:openhbx:terms:v1:resource#individuals"/>
			<xs:enumeration value="urn:openhbx:terms:v1:resource#employers"/>
			<xs:enumeration value="urn:openhbx:terms:v1:resource#policies"/>
			<xs:enumeration value="urn:openhbx:terms:v1:resource#carriers"/>
			<xs:enumeration value="urn:openhbx:terms:v1:resource#plans"/>
			<xs:enumeration value="urn:openhbx:terms:v1:resource#brokers"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="resource_instance_uri" type="xs:anyURI">
		<xs:annotation>
			<xs:documentation>Dereferenceable resource identifier</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="extended_resource_instance_uri" type="xs:anyURI">
		<xs:annotation>
			<xs:documentation>Optional, additional dereferenceable resource identifier(s)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CommentType">
		<xs:sequence>
			<xs:element name="content" type="xs:string"/>
			<xs:element name="author" type="xs:string"/>
			<xs:element name="date" type="SimpleDateType"/>
			<xs:element name="priority_flag" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ApprovalType">
		<xs:annotation>
			<xs:documentation>Base type to manage a resource's acceptance status</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="status">
				<xs:simpleType>
					<xs:restriction base="xs:anyURI">
						<xs:enumeration value="urn:openhbx:terms:v1:approval_type#pending"/>
						<xs:enumeration value="urn:openhbx:terms:v1:approval_type#approved"/>
						<xs:enumeration value="urn:openhbx:terms:v1:approval_type#denied"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="determined_by" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Individual, Representative or agent who adjudicated approval</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="determination_date" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="notes" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonRelationshipType">
		<xs:annotation>
			<xs:documentation>Interpersonal relationship state between two individuals</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="subject_individual" type="xs:anyURI"/>
			<xs:element name="relationship_uri" type="xs:anyURI"/>
			<xs:element name="inverse_relationship_uri" type="xs:anyURI" minOccurs="0"/>
			<xs:element name="object_individual" type="xs:anyURI"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="relationship_uri" type="xs:anyURI" abstract="true"/>
	<xs:element name="inverse_relationship_uri" type="xs:anyURI"/>
	<xs:complexType name="ServiceErrorType"/>
  
  <xs:complexType name="BrokerAttributesType">
    <xs:sequence>
      <xs:element name="npn_id" type="NpnIdType"/>
      <xs:element name="tpa" type="TpaType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
    <xs:simpleType name="NpnIdType">
    <xs:annotation>
      <xs:documentation>Broker National Producer Number (NPN) identifier</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="TpaType">
    <xs:annotation>
      <xs:documentation>Third Party Administrator</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tpa_name" type="xs:string">
        <xs:annotation>
          <xs:documentation>TPA or GA name in free-form text</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tpa_fein" type="FederalTaxIdType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>TPA or GA federal tax ID</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
	<xs:complexType name="IndividualRelationshipType">
		<xs:annotation>
			<xs:documentation>Interpersonal relationship between one or more individuals in Resource Description Framework notation (Subject-predicate-object)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="PersonRelationshipType">
				<xs:sequence>
					<xs:element name="subject_individual" type="xs:anyURI">
						<xs:annotation>
							<xs:documentation>This individual's HBX ID </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="relationship_uri" type="PeopleRelationshipNameType"/>
					<xs:element name="inverse_relationship_uri" type="PeopleRelationshipNameType" minOccurs="0"/>
					<xs:element name="object_individual" type="xs:anyURI">
						<xs:annotation>
							<xs:documentation>The target individual's HBX ID</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="PeopleRelationshipNameType">
		<xs:annotation>
			<xs:documentation>Interpersonal relationship names between connected individuals</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:anyURI">
			<xs:enumeration value="urn:openhbx:terms:v1:individual_relationship#self"/>
			<xs:enumeration value="urn:openhbx:terms:v1:individual_relationship#spouse"/>
			<xs:enumeration value="urn:openhbx:terms:v1:individual_relationship#child"/>
			<xs:enumeration value="urn:openhbx:terms:v1:individual_relationship#father_or_mother"/>
			<xs:enumeration value="urn:openhbx:terms:v1:individual_relationship#grandfather_or_grandmother"/>
			<xs:enumeration value="urn:openhbx:terms:v1:individual_relationship#grandson_or_granddaughter"/>
			<xs:enumeration value="urn:openhbx:terms:v1:individual_relationship#uncle_or_aunt"/>
			<xs:enumeration value="urn:openhbx:terms:v1:individual_relationship#nephew_or_niece"/>
			<xs:enumeration value="urn:openhbx:terms:v1:individual_relationship#cousin"/>
			<xs:enumeration value="urn:openhbx:terms:v1:individual_relationship#adopted_child"/>
			<xs:enumeration value="urn:openhbx:terms:v1:individual_relationship#foster_child"/>
			<xs:enumeration value="urn:openhbx:terms:v1:individual_relationship#son-in-law_or_daughter-in-law"/>
			<xs:enumeration value="urn:openhbx:terms:v1:individual_relationship#brother-in-law_or_sister-in-law"/>
			<xs:enumeration value="urn:openhbx:terms:v1:individual_relationship#mother-in-law_or_father-in-law"/>
			<xs:enumeration value="urn:openhbx:terms:v1:individual_relationship#brother_or_sister"/>
			<xs:enumeration value="urn:openhbx:terms:v1:individual_relationship#ward"/>
			<xs:enumeration value="urn:openhbx:terms:v1:individual_relationship#stepparent"/>
			<xs:enumeration value="urn:openhbx:terms:v1:individual_relationship#stepson_or_stepdaughter"/>
			<xs:enumeration value="urn:openhbx:terms:v1:individual_relationship#sponsored_dependent"/>
			<xs:enumeration value="urn:openhbx:terms:v1:individual_relationship#dependent_of_a_minor_dependent"/>
			<xs:enumeration value="urn:openhbx:terms:v1:individual_relationship#ex-spouse"/>
			<xs:enumeration value="urn:openhbx:terms:v1:individual_relationship#guardian"/>
			<xs:enumeration value="urn:openhbx:terms:v1:individual_relationship#court_appointed_guardian"/>
			<xs:enumeration value="urn:openhbx:terms:v1:individual_relationship#collateral dependent"/>
			<xs:enumeration value="urn:openhbx:terms:v1:individual_relationship#life_partner"/>
			<xs:enumeration value="urn:openhbx:terms:v1:individual_relationship#annuitant"/>
			<xs:enumeration value="urn:openhbx:terms:v1:individual_relationship#trustee"/>
			<xs:enumeration value="urn:openhbx:terms:v1:individual_relationship#other_relationship"/>
			<xs:enumeration value="urn:openhbx:terms:v1:individual_relationship#other_relative"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="RatesType">
		<xs:sequence>
			<xs:element name="rate" type="RateType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RateType">
		<xs:sequence>
			<xs:element name="age"/>
			<xs:element name="effective_date" type="SimpleDateType"/>
			<xs:element name="expire_date" type="SimpleDateType" minOccurs="0"/>
			<xs:element name="rate" type="CurrencyType"/>
			<xs:element name="rating_area" minOccurs="0"/>
			<xs:element name="tobacco_use" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
  
	<xs:simpleType name="HiosPlanIdType">
		<xs:annotation>
			<xs:documentation>Health Insurance Oversight System (HIOS) plan identifier</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
  
	<xs:simpleType name="BenefitCoverageNameType">
		<xs:annotation>
			<xs:documentation>Kind of medical insurance provided under plan</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:anyURI">
			<xs:enumeration value="urn:openhbx:terms:v1:benefit_coverage#health"/>
			<xs:enumeration value="urn:openhbx:terms:v1:benefit_coverage#dental"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
