vocabulary/organization.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 rel. 2 (x64) (http://www.altova.com) by Dan Thomas (private) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://openhbx.org/api/terms/1.0" targetNamespace="http://openhbx.org/api/terms/1.0" elementFormDefault="qualified">
	<xs:include schemaLocation="plan.xsd"/>
        <xs:simpleType name="BusinessEntityKindType">
                <xs:restriction base="xs:anyURI">
                        <xs:enumeration value="urn:openhbx:terms:v1:employers#c_corporation"/>
                        <xs:enumeration value="urn:openhbx:terms:v1:employers#s_corporation"/>
                        <xs:enumeration value="urn:openhbx:terms:v1:employers#partnership"/>
                        <xs:enumeration value="urn:openhbx:terms:v1:employers#tax_exempt_organization"/>
                        <xs:enumeration value="urn:openhbx:terms:v1:employers#limited_liability_corporation"/>
                        <xs:enumeration value="urn:openhbx:terms:v1:employers#limited_liability_partnership"/>
                        <xs:enumeration value="urn:openhbx:terms:v1:employers#household_employer"/>
                        <xs:enumeration value="urn:openhbx:terms:v1:employers#governmental_employer"/>
                        <xs:enumeration value="urn:openhbx:terms:v1:employers#foreign_embassy_or_consulate"/>
                </xs:restriction>
	</xs:simpleType>

	<xs:complexType name="OfficeLocationType">
		<xs:sequence>
			<xs:element name="id" type="IdentifierType" minOccurs="0"/>
			<xs:element name="name" type="xs:string" minOccurs="0"/>
			<xs:element name="primary" type="xs:boolean"/>
			<xs:element name="address" type="AddressType" minOccurs="0"/>
			<xs:element name="phone" type="PhoneType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="OfficeLocationListType">
		<xs:sequence>
			<xs:element name="office_location" minOccurs="0" maxOccurs="unbounded" type="OfficeLocationType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="organization" type="OrganizationWithRolesType">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:group name="OrganizationTypeCommonElementsGroup">
		<xs:sequence>
			<xs:element name="id" type="IdentifierType"/>
			<xs:element name="name" type="nonEmptyString">
				<xs:annotation>
					<xs:documentation>Organization formal name in free-form text</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dba" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Doing Business As in free-form text</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="display_name" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Organization name as presesnted in UI</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="abbreviation" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Organization name in shortened, free-form text</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="OrganizationType" abstract="true">
		<xs:annotation>
			<xs:documentation>Base class for companies and agencies</xs:documentation>
		</xs:annotation>
		<xs:sequence>
		        <xs:group ref="OrganizationTypeCommonElementsGroup"/>
			<xs:element name="fein" type="FederalTaxIdType" minOccurs="0"/>
			<xs:element name="office_locations" type="OfficeLocationListType" minOccurs="0"/>
			<xs:element name="website" type="xs:anyURI" minOccurs="0"/>
			<xs:element ref="contacts" minOccurs="0"/>
			<xs:element name="is_active" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Indicator that organization  is operative on the HBX</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extended_attributes" type="xs:anyType" minOccurs="0"/>
			<xs:group ref="ResourceTimestampGroup" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CarrierType">
		<xs:annotation>
			<xs:documentation>A health insurance company</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="OrganizationType">
				<xs:sequence>
					<xs:group ref="OrganizationTypeCommonElementsGroup"/>
					<xs:element name="fein" type="FederalTaxIdType" minOccurs="0"/>
			                <xs:element name="office_locations" type="OfficeLocationListType" minOccurs="0"/>
					<xs:element name="website" type="xs:anyURI" minOccurs="0"/>
					<xs:element ref="contacts" minOccurs="0"/>
					<xs:element name="is_active" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>Indicator that organization is operative on the HBX</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:group ref="ResourceTimestampGroup" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="BrokerAgencyAttributesType">
		<xs:sequence>
			<xs:element name="npn" type="NpnIdType"/>
			<xs:element name="primary_broker" type="BrokerType"/>
			<xs:element name="brokers" type="BrokerAgencyBrokersListType" />
			<xs:element name="tpa" type="TpaType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="BrokerAgencyBrokersListType">
		<xs:sequence>
			<xs:element name="broker" minOccurs="0" maxOccurs="unbounded" type="BrokerType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="BrokerType">
		<xs:annotation>
			<xs:documentation>An insurance specialist who provides advice and sells insurance to businesses and consumers</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="IdentifierType"/>
			<xs:element name="person" type="PersonType"/>
			<xs:element name="npn" type="NpnIdType"/>
			<xs:group ref="ResourceTimestampGroup" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="BrokerRoleType">
		<xs:annotation>
			<xs:documentation>An individual playing the role of a broker.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="IdentifierType"/>
			<xs:element name="npn" type="NpnIdType"/>
			<xs:element name="broker_agency" type="BrokerAgencyLinkType"/>
			<xs:group ref="ResourceTimestampGroup" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="HbxType">
		<xs:annotation>
			<xs:documentation>Health Benefit Exchange organization</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="OrganizationType">
				<xs:sequence>
					<xs:group ref="OrganizationTypeCommonElementsGroup"/>
					<xs:element name="fein" type="FederalTaxIdType" minOccurs="0"/>
			                <xs:element name="office_locations" type="OfficeLocationListType" minOccurs="0"/>
					<xs:element name="website" type="xs:anyURI" minOccurs="0"/>
					<xs:element ref="contacts" minOccurs="0"/>
					<xs:element name="is_active" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>Indicator that organization  is operative on the HBX</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="extended_attributes" type="xs:anyType" minOccurs="0"/>
					<xs:group ref="ResourceTimestampGroup" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResponsibleEntityType">
		<xs:annotation>
			<xs:documentation>An Entitity's HBX activity associated with sponsoring insurance coverage for others</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="entity_identifier" type="EntityNameType"/>
			<xs:element name="organization" type="OrganizationType" minOccurs="0"/>
			<xs:element name="policies" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="policy" type="PolicyLinkType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="EntityNameType">
		<xs:restriction base="xs:anyURI">
			<xs:enumeration value="urn:openhbx:terms:v1:entity#case_manager"/>
			<xs:enumeration value="urn:openhbx:terms:v1:entity#key_person"/>
			<xs:enumeration value="urn:openhbx:terms:v1:entity#parent"/>
			<xs:enumeration value="urn:openhbx:terms:v1:entity#responsible_party"/>
			<xs:enumeration value="urn:openhbx:terms:v1:entity#guardian"/>
			<xs:enumeration value="urn:openhbx:terms:v1:entity#ex_spouse"/>
			<xs:enumeration value="urn:openhbx:terms:v1:entity#significant_other"/>
			<xs:enumeration value="urn:openhbx:terms:v1:entity#legal_representative"/>
			<xs:enumeration value="urn:openhbx:terms:v1:entity#power_of_attorney"/>
			<xs:enumeration value="urn:openhbx:terms:v1:entity#other_insured"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="BrokerAccountType">
		<xs:sequence>
			<xs:element name="broker_agency" type="BrokerAgencyLinkType"/>
			<xs:element name="writing_agent" type="BrokerType"/>
			<xs:element name="start_on" type="SimpleDateType"/>
			<xs:element name="end_on" type="SimpleDateType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="BrokerAccountListType">
		<xs:sequence>
			<xs:element name="broker_account" type="BrokerAccountType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="BrokerAgencyProfileType">
		<xs:sequence>
			<xs:element name="npn" type="NpnIdType"/>
			<xs:element name="primary_broker" type="BrokerType"/>
			<xs:element name="brokers" type="BrokerAgencyBrokersListType" />
			<xs:element name="tpa" type="TpaType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PlanYearListType">
		<xs:sequence>
			<xs:element name="plan_year" type="PlanYearType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

        <xs:complexType name="EmployerPlanListType">
                <xs:annotation>
                        <xs:documentation>SHOP employer-selected benefits model</xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                        <xs:restriction base="PlanType">
                                <xs:sequence>
                                        <xs:element name="id" type="IdentifierType"/>
                                        <xs:element name="name" type="xs:string"/>
			                <xs:element name="active_year" type="PlanActiveYearType"/>
                                        <xs:element name="is_dental_only" type="xs:boolean"/>
                                        <xs:element name="carrier" type="CarrierLinkType"/>
                                        <xs:element name="metal_level" type="PlanMetalLevelNameType"/>
                                        <xs:element name="coverage_type" type="QhpBenefitCoverageNameType"/>
                                        <xs:group ref="ResourceTimestampGroup" minOccurs="0"/>
                                </xs:sequence>
                        </xs:restriction>
                </xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="RelationshipBenefitRelationshipType">
		<xs:restriction base="xs:anyURI">
                        <xs:enumeration value="urn:openhbx:terms:v1:employee_census_relationship#employee"/>
                        <xs:enumeration value="urn:openhbx:terms:v1:employee_census_relationship#spouse"/>
                        <xs:enumeration value="urn:openhbx:terms:v1:employee_census_relationship#domestic_partner"/>
                        <xs:enumeration value="urn:openhbx:terms:v1:employee_census_relationship#child_under_26"/>
                        <xs:enumeration value="urn:openhbx:terms:v1:employee_census_relationship#child_26_and_over"/>
                        <xs:enumeration value="urn:openhbx:terms:v1:employee_census_relationship#disable_child_26_and_over"/>
                        <xs:enumeration value="urn:openhbx:terms:v1:employee_census_relationship#spouse"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="RelationshipBenefitType">
		<xs:sequence>
			<xs:element name="relationship" type="RelationshipBenefitRelationshipType"/>
			<xs:element name="offered" type="xs:boolean"/>
			<xs:element name="contribution_percent">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:maxInclusive value="100"/>
						<xs:minInclusive value="0"/>
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RelationshipBenefitsListType">
		<xs:sequence>
			<xs:element name="relationship_benefit" minOccurs="0" maxOccurs="unbounded" type="RelationshipBenefitType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="BenefitGroupType">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="reference_plan" type="PlanLinkType"/>
			<xs:choice>
				<xs:element name="federal_contributions" type="xs:anyType"/>
				<xs:element name="relationship_benefits" type="RelationshipBenefitsListType"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="EmployerElectedPlanType">
		<xs:complexContent>
			<xs:extension base="EmployerPlanListType">
				<xs:sequence>
					<xs:element name="group_id" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Carrier-assigned employer group identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="policy_number" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Carrier-assigned policy number</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="PlanYearType">
		<xs:sequence>
			<xs:element name="plan_year_start" type="SimpleDateType">
				<xs:annotation>
					<xs:documentation>Date employer plan eligibility begins</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="plan_year_end" type="SimpleDateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date employer plan eligibility ends</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fte_count" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Number of full-time-employees</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pte_count" type="xs:integer" default="0">
				<xs:annotation>
					<xs:documentation>Number of part-time employees</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="open_enrollment_start" type="SimpleDateType">
				<xs:annotation>
					<xs:documentation>Open enrollment period start date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="open_enrollment_end" type="SimpleDateType">
				<xs:annotation>
					<xs:documentation>Open enrollment period end date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="elected_plans">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="elected_plan" type="PlanLinkType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="benefit_groups">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="benefit_group" minOccurs="0" maxOccurs="unbounded" type="BenefitGroupType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:group ref="ResourceTimestampGroup"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="EmployerCensusFamilyRelationshipNameType">
		<xs:restriction base="xs:anyURI">
			<xs:enumeration value="urn:openhbx:terms:v1:employers#self"/>
			<xs:enumeration value="urn:openhbx:terms:v1:employers#spouse"/>
			<xs:enumeration value="urn:openhbx:terms:v1:employers#domestic_partner"/>
			<xs:enumeration value="urn:openhbx:terms:v1:employers#child_under_26"/>
			<xs:enumeration value="urn:openhbx:terms:v1:employers#child_26_and_over"/>
			<xs:enumeration value="urn:openhbx:terms:v1:employers#disabled_child_26_and_over"/>
		</xs:restriction>
	</xs:simpleType>	

	<xs:complexType name="EmployerCensusFamilyMemberType" abstract="true">
		<xs:sequence>
			<xs:element name="name" type="PersonNameType"/>
			<xs:element name="email" type="EmailType" minOccurs="0"/>
			<xs:element name="address" type="AddressType"/>
			<xs:element name="relationship" type="EmployerCensusFamilyRelationshipNameType"/>
			<xs:element name="gender" type="GenderNameType"/>
			<xs:element name="dob" type="SimpleDateType">
				<xs:annotation>
					<xs:documentation>Date of Birth</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ssn" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Social Security Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="date_of_hire" type="SimpleDateType" minOccurs="0"/>
			<xs:element name="date_of_termination" type="SimpleDateType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="EmployerCensusFamilyEmployeeType">
		<xs:complexContent>
			<xs:restriction base="EmployerCensusFamilyMemberType">
				<xs:sequence>
					<xs:element name="name" type="PersonNameType"/>
					<xs:element name="email" type="EmailType" minOccurs="0"/>
					<xs:element name="address" type="AddressType"/>
					<xs:element name="relationship" type="EmployerCensusFamilyRelationshipNameType"/>
					<xs:element name="gender" type="GenderNameType"/>
					<xs:element name="dob" type="SimpleDateType"/>
					<xs:element name="ssn">
						<xs:annotation>
							<xs:documentation>Social Security Number</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="date_of_hire" type="SimpleDateType"/>
					<xs:element name="date_of_termination" type="SimpleDateType" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EmployerCensusFamilyDependentType">
		<xs:complexContent>
			<xs:restriction base="EmployerCensusFamilyMemberType">
				<xs:sequence>
					<xs:element name="name" type="PersonNameType"/>
					<xs:element name="email" type="EmailType" minOccurs="0"/>
					<xs:element name="address" type="AddressType"/>
					<xs:element name="relationship" type="EmployerCensusFamilyRelationshipNameType"/>
					<xs:element name="gender" type="GenderNameType"/>
					<xs:element name="dob" type="SimpleDateType"/>
					<xs:element name="ssn" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="EmployerCensusFamilyType">
		<xs:sequence>
			<xs:element name="id" type="IdentifierSimpleType"/>
			<xs:element name="employee" type="EmployerCensusFamilyMemberType"/>
			<xs:element name="dependents" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="dependent" type="EmployerCensusFamilyDependentType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="employer_census_families">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="employer_census_family" type="EmployerCensusFamilyType" maxOccurs="unbounded" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="EmployerProfileType">
		<xs:sequence>
			<xs:element name="business_entity_kind" type="BusinessEntityKindType"/>
			<xs:element name="sic_code" type="SicCodeType" minOccurs="0"/>
			<xs:element name="brokers" type="BrokerAccountListType" minOccurs="0"/>
			<xs:element name="plan_years" type="PlanYearListType"/>
			<xs:element ref="employer_census_families" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="OrganizationWithRolesType">
		<xs:annotation>
			<xs:documentation>Container that encompasses different roles which may be played by an organization</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="OrganizationTypeCommonElementsGroup"/>
			<xs:element name="fein" type="FederalTaxIdType" minOccurs="0"/>
			<xs:element name="office_locations" type="OfficeLocationListType" minOccurs="0"/>
			<xs:element name="website" type="xs:anyURI" minOccurs="0"/>
			<xs:element ref="contacts" minOccurs="0"/>
			<xs:element name="is_active" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Indicator that organization  is operative on the HBX</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="broker_agency_profile" type="BrokerAgencyProfileType" minOccurs="0"/>
			<xs:element name="employer_profile" type="EmployerProfileType" minOccurs="0"/>
			<xs:group ref="ResourceTimestampGroup" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BrokerAgencyType">
		<xs:annotation>
			<xs:documentation>An organization specializing in advice about and sale of insurance products to businesses and consumers</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="OrganizationWithRolesType">
				<xs:sequence>
					<xs:group ref="OrganizationTypeCommonElementsGroup"/>
					<xs:element name="fein" type="FederalTaxIdType" minOccurs="0"/>
					<xs:element name="office_locations" type="OfficeLocationListType" minOccurs="0"/>
					<xs:element name="website" type="xs:anyURI" minOccurs="0"/>
					<xs:element ref="contacts" minOccurs="0"/>
					<xs:element name="is_active" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>Indicator that organization  is operative on the HBX</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="broker_agency_profile" type="BrokerAgencyProfileType"/>
					<xs:element name="employer_profile" type="EmployerProfileType" minOccurs="0"/>
					<xs:group ref="ResourceTimestampGroup" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="EmployerOrganizationType">
		<xs:annotation>
			<xs:documentation>An organization specializing in advice about and sale of insurance products to businesses and consumers</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="OrganizationWithRolesType">
				<xs:sequence>
					<xs:group ref="OrganizationTypeCommonElementsGroup"/>
					<xs:element name="fein" type="FederalTaxIdType"/>
					<xs:element name="office_locations" type="OfficeLocationListType" minOccurs="0"/>
					<xs:element name="website" type="xs:anyURI" minOccurs="0"/>
					<xs:element ref="contacts" minOccurs="0"/>
					<xs:element name="is_active" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>Indicator that organization  is operative on the HBX</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="broker_agency_profile" type="BrokerAgencyProfileType" minOccurs="0"/>
					<xs:element name="employer_profile" type="EmployerProfileType"/>
					<xs:group ref="ResourceTimestampGroup" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
